.form-error {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(prop('color-error-rgb'), 0.1);
  border-radius: prop('border-radius-default');
  color: prop('color-error');
  font-size: prop('font-size-small');

  &-paragraph {
    margin-bottom: 0.5em;
    color: inherit;
    font-size: inherit;
  }

  &-list {
    display: block;
    margin: 0;
    padding-left: 1rem;

    &-item {

    }
  }
}